.mod {
  position: relative;
  padding-bottom: 40px;
  background: $gradient-background;

  .stat-block {
    padding: 0 20px;
    text-align: center;

    span {
      font-size: 20px;
      display: block;
    }

    small {
      display: block;
      color: $navigation-color;
    }

    b {
      font-weight: 500;
      text-shadow: $primary 0px 0px 4px;
      color: $primary;
    }
  }

  .mod-header {
    z-index: 2;
    position: relative;
    background-size: cover;
    background-position: center;
    height: 450px;
    overflow: hidden;

    .thumbnail-carousel {
      width: 320px;

      .splide__slide {
        opacity: 0.6;
        transition: .2s;

        &.is-active {
          opacity: 1;
        }
      }

      .splide__arrow {
        opacity: 1;

        &--prev {
          left: -13px;
        }

        &--next {
          right: -13px;
        }

        svg {
          fill: $background;
        }
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .main-carousel {
      background-color: $background;
      position: absolute;
      width: 100%;
      top: 0;

      .splide__slide {
        height: 450px;

        img, video {
          width: 100%;
          height: 450px;
          object-fit: cover;
        }
      }
    }
  }

  .header-content {
    height: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 40px;

    .stat-wrapper {
      width: 100%;
      display: flex;
      justify-content: center;
      padding: 5px;
      margin-bottom: 20px;
      background: linear-gradient(90deg,
        rgba(41 41 41 / 0) 0%,
        rgba(41 41 41 / 0.9) 13%,
        rgba(41 41 41 / 0.9) 87%,
        rgba(41 41 41 / 0) 100%
      );
    }

    #open-lightbox {
      position: absolute;
      top: 40px;
      right: 40px;
    }
  }

  .links-block {
    display: flex;

    .download-link {
      font-weight: 600;
    }
  }


  .mod-mini-header {
    font-family: $navigation-font-family;
    height: 60px;
    position: sticky;
    top: 0;
    margin-top: -60px;
    overflow: hidden;
    z-index: 1;
    padding: 15px 10px 5px;

    display: flex;
    justify-content: space-between;
    background: $background;

    .main-image {
      max-width: 40px;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      overflow: hidden;

      margin-right: 20px;
      img {
        object-fit: contain;
        width: 100%;
        height: 100%;
      }
    }

    .meta-block {
      margin-top: 3px;

      .game-icon {
        width: 15px;
        height: 15px;
        margin-right: 5px;
      }

      & > a {
        margin: 0 5px;

        &:first-of-type {
          margin-left: 0;
        }

        &:last-of-type {
          margin-right: 0;
        }
      }
    }

    .left-side, .right-side {
      display: flex;
    }

    .header {
      font-weight: 600;
      font-size: 20px;
    }

    .author {
      color: $navigation-color;
      &:hover, &:focus {
        color: $navigation-hover-color;
      }
    }
  }

  /********************/
  /***** Mod menu *****/
  /********************/

  .mod-menu {
    position: sticky;
    top: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: $background;
    box-shadow: 0 5px 5px -4px rgba(0,0,0,0.5);
    z-index: 1;

    & > a {
      padding: 20px 0;
      width: 100%;
      color: $navigation-color;
      transition: .5s;
      border-bottom: 3px solid transparent;

      .nav-wrapper {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: $navigation-font-family;
        font-weight: 700;
        text-transform: uppercase;

        & > span {
          margin-right: 10px;
        }

        &:last-child {
          margin-right: 0;
          border-right: 1px solid $hr-color;
        }
      }

      &:last-of-type .nav-wrapper:last-child {
        border-right: 1px solid transparent;
      }

      &.active {
        border-bottom: 3px solid $primary;
        color: $primary;
      }

      &:hover {
        border-bottom: 3px solid $navigation-hover-color;
        color: $navigation-hover-color;
      }
    }
  }

  .mod-section-slide {
    padding: 20px 20px 0;
    font-size: 1.05rem;
    line-height: 2;

    p {
      text-align: justify;
    }

    a {
      @include anim-link
    }

    h2, h3 {
      margin-top: 2em;
      margin-bottom: 1em;
    }

    h2 {
      font-size: 1.6rem;
    }

    h3 {
      font-size: 1.2rem;
    }

    img {
      margin-bottom: 1em;
    }

    table {
      width: 100%;
    }
  }

  /*********************/
  /***** Changelog *****/
  /*********************/

  .changelog-wrapper {
    p {
      font-weight: 300;
    }

    .timeline {
      position: relative;
      padding: 40px;
      margin-left: 160px;
      border-left: 4px solid $primary;
      background: #1d1c1c;
      font-family: $navigation-font-family;
      font-weight: 100;
      font-size: 1.03em;
      font-style: normal;
      line-height: 1.4em;
      list-style: none;
      text-align: left;

      h1 {
        font-family: $navigation-font-family;
        letter-spacing: 1.5px;
        font-weight: 100;
        font-size: 1.4em;
      }

      h2, h3 {
        margin-top: 0;
        font-family: $navigation-font-family;
        letter-spacing: 1.5px;
        font-weight: 400;
        font-size: 1.4em;
      }

      .event {
        border-bottom: 1px dashed $hr-color;
        padding-bottom: (40px * 0.5);
        margin-bottom: 40px;
        position: relative;


        &:last-of-type {
          padding-bottom: 0;
          margin-bottom: 0;
          border: none;
        }

        &:before, &:after {
          position: absolute;
          display: block;
          top: 0;
        }

        &:before {
          width: 120px;
          left: -200px;
          color: $secondary;
          content: attr(data-date);
          text-align: right;
          font-weight: 100;
          font-size: 0.9em;
          font-family: $navigation-font-family;
        }

        &:after {
          box-shadow: 0 0 0 4px $primary;
          background: $background;
          left: -48px;
          border-radius: 50%;
          height: 11px;
          width: 11px;
          content: "";
          top: 5px;
        }
      }
    }
  }

  /*********************/
  /***** Questions *****/
  /*********************/

  .question-section {
    margin-left: -15px;
    margin-right: -15px;
  }

  .create-question {
    margin-top: 40px;

    .btn-wrapper {
      display: flex;
      justify-content: flex-end;
    }
  }

  /*********************/
  /****** Reviews ******/
  /*********************/
  .reviews-wrapper {
    display: flex;
    //background: #1d1c1c;

    .reviews-list {
      width: calc(100% - 300px);
      margin-right: 40px;
    }

    .reviews-sidebar {
      width: 300px;
      //margin-left: 20px;
    }
  }

  .review-block {
    display: flex;
    border-bottom: 1px dashed $hr-color;
    padding: 40px 0;

    .author {
      width: 200px;
      display: flex;
      flex-direction: column;
      align-items: center;

      .avatar {
        border-radius: 50%;
        overflow: hidden;
        object-fit: cover;
        max-width: 50px;
        width: 100%;
        max-height: 50px;
        height: 100%;
      }
    }

    .content {
      width: calc(100% - 200px);
      text-align: justify;
    }
  }

  .rating-section {
    padding: 40px 0;
  }

  .rating-category {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  @include max-md {
    .header-content {
      flex-direction: column;
      align-items: center;

      #open-lightbox {
        top: 0;
        right: 0;
      }
    }

    h1 {
      text-align: center;
    }

    .links-block, .meta-block {
      justify-content: center;
    }

    .thumbnail-carousel {
      display: none;
    }
  }

  @include max-lg {
    .mod-menu .title {
      display: none;
    }
  }
}

footer {
  margin-top: 0;
}